<div class="ui header">
  Latest News
</div>
<div class="ui three column doubling stackable grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="#">
          RETURN FROM THE 12 YEARS OF FUNK TOUR!
        </a>
        <div class="meta">
          <div class="date">May 11, 2015</div>
        </div>
        <div class="description">
          What an amazing tour. The band got to see some old friends, and performed in some of our favorite venues along with one new visit to Rhode Island to play with Elephant. Thanks to everyone who came out to the end...
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="feed icon"></i>
        Read more
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="#">
          TOUR TIME!
        </a>
        <div class="meta">
          <div class="date">May 11, 2015</div>
        </div>
        <div class="description">
          Thank to everyone who made it to our sold out Birthday show. We just had another great weekend run, and hit the road for New England on Friday. Hope to see you all soon. The album release date is soon to be announced.
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="feed icon"></i>
        Read more
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="#">
          2015, 12 Years of FUNK!
        </a>
        <div class="meta">
          <div class="date">May 11, 2015</div>
        </div>
        <div class="description">
          After our Nov 1st show in Salem, Mass , Midnight Spaghetti took the rest of the 2014 to continue work on our very long awaited new studio release. The group is getting closer and closer to a release date announcement...
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="feed icon"></i>
        Read more
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="#">
          HERE IS A FUN "ROOM TAKE" of our SALEM NOV 1, 2014 SET.
        </a>
        <div class="meta">
          <div class="date">May 11, 2015</div>
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="sound icon"></i>
        Listen now
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="#">
          Spaghettifest 12 is in the books!
        </a>
        <div class="meta">
          <div class="date">Oct 1, 2014</div>
        </div>
        <div class="description">
          Thank you to all the Fans, Bands, crew, and to Horizons of Valley Pike for another amazing Spaghettifest Experience. Spaghettifest is and always will be the Party of the Year. Here is a sample of our show from Saturday night...
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="sound icon"></i>
        Listen now
      </div>
    </div>
  </div>


</div>
