<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bower:css -->
    <link rel='stylesheet' href='../bower_components/semantic-ui/dist/semantic.css' />
    <!-- endbower -->
  </head>
  <body>
    <div class="ui page grid">
      <div class="row">
        <div class="column">
          <div class="ui large three item secondary pointing orange menu">
            <div class="item">
              <a class="menuitem" href="/know">Know</a>
            </div>
            <div class="active item">
              <a class="menuitem" href="/">Experience</a>
            </div>
            <div class="item">
              <a class="menuitem" href="/follow">Follow</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="column">
          <div class="ui centered grid">
            <div id="midnight" class="five wide right aligned column">
              <img src="images/midnight.png" alt="Midnight Spaghetti" />
            </div>
            <div id="leftbuddha" class="four wide center aligned column">
              <img src="images/leftbuddha.png" alt="Buddha facing left" />
            </div>
            <div id="gstrings" class="five wide left aligned column">
              <img src="images/gstring.png" alt="The Chocolate G-Strings" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- feed -->
        <div class="eleven wide column">
          <%- include("feed") %>
        </div>

        <!-- sidebar -->
        <div class="five wide column">
          <%- include("sidebar") %>
        </div>
      </div>
    </div>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/semantic-ui/dist/semantic.js"></script>
    <!-- endbower -->
  </body>
</html>
